<ion-content>
  <div>
    <ion-grid>
      <ion-row>
        <ion-col size="8" size-sm="12" size-md="4" size-lg="8" size-xs="12">
          <ion-header>
            <ion-toolbar color="dark" style="height: 53%;">
              <ion-title style="padding: 15px; font-family:cairo;font-size: 30px;"
                ><span translate>RENTASTICO</span></ion-title
              >
              <span translate style="padding: 15px;font-family:cairo;font-size: 25px;"
                >"THE ART OF DEFINING INVENTORY"</span
              >
            </ion-toolbar>

            <ion-grid>
              <ion-row style="padding: 20px;">
                <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12">
                  <img src="{{ person.a }}" alt="" width="100%" />
                </ion-col>
                <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12">
                  <h2 style="margin: 0px; background-color: #f5f6f9;  font-family:cairo;color: rgb(19, 20, 20);">
                    TRAVEL IS A HUGE INVESTMENT IN TIME AND MONEY…
                  </h2>
                </ion-col>

                <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12">
                  <p style="margin-bottom: 10px;margin-top:0px; background-color: #f5f6f9; padding: 15px;">
                    Our global format breaks down and pre -defines inventory, we facilitate Vacation Rentals… need to
                    move inventory, with one that matches seamlessly the buying habits of travel shopper’s in a
                    designated, inter- active & fast paced advertising environment. <br />
                    Our platform identifies and attracts the attention of the most successful & by far the largest
                    travel segment online with instant and identifiable choices… one where over 300 million travel
                    shoppers cite extra value as the definitive factor. <br />
                    <br />
                    Additionally our integrated "Travelers Social Network" will facilitate discussions, create channels
                    and platforms that instill trust and customer loyalty, where 68% of all travelers will record their
                    experience with user generated content, trumping branded content every time...one that meritoriously
                    cross promotes Rentastico rewarding both the owner and traveler shopper.
                    <br />
                    Our global format breaks down and pre -defines inventory, we facilitate Vacation Rentals… need to
                    move inventory, with one that matches seamlessly the buying habits of travel shopper’s in a
                    designated, inter- active & fast paced advertising environment. <br />
                    Our platform identifies and attracts the attention of the most successful & by far the largest
                    travel segment online with instant and identifiable choices… one where over 300 million travel
                    shoppers cite extra value as the definitive factor. <br />
                    <br />
                    Additionally our integrated "Travelers Social Network" will facilitate discussions, create channels
                    and platforms that instill trust and customer loyalty, where 68% of all travelers will record their
                    experience with user generated content, trumping branded content every time...one that meritoriously
                    cross promotes Rentastico rewarding both the owner and traveler shopper.
                  </p>
                </ion-col>
                <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12">
                  <h2
                    style="margin: 0px; font-family:cairo; background-color: #f5f6f9; padding: 10px;   color: rgb(19, 20, 20);"
                  >
                    Rentastico Intellectual Property
                  </h2>
                </ion-col>
                <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12">
                  <p style="margin-bottom: 10px;margin-top:0px; background-color: #f5f6f9;">
                    The company has developed three unique search engines that address the needs of two separate and
                    distinct types of "Vacation Rental" inventory and ties them all into<b
                      >one Global "Social Travelers Network".</b
                    >
                  </p>
                </ion-col>
                <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12">
                  <h2 style="margin: 0px; background-color: #f5f6f9;font-family:cairo;  color: rgb(19, 20, 20);">
                    RENTASTICO GLOBAL INVENTORY
                  </h2>
                </ion-col>
                <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12 ">
                  <p style="margin-bottom: 10px;margin-top:0px; background-color: #f5f6f9;">
                    A proprietary & synergistic search engine integrated deep into the heart of RENTASTICO, one that
                    works with automatic and pro-active algorithms, driving faster, easier and direct access to defined
                    inventory. It connects owners to an advanced internal marketing platform <b>"ITRACK",</b> a
                    notification system that is designed to enhance sales by providing & informing travelers with
                    relevant information that will promote and increase buying decisions of travelers, such as instantly
                    matching flights, deal alerts, updates, informative & specific social media and travel information
                    etc.
                  </p>
                </ion-col>
                <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12">
                  <h2 style="margin: 0px; background-color: #f5f6f9; font-family:cairo; color: rgb(19, 20, 20);">
                    Travelers on the Go – a second proprietary search engine
                  </h2>
                </ion-col>
                <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12">
                  <p style="margin-bottom: 10px;margin-top:0px; background-color: #f5f6f9;">
                    A concise format, that manages,classifies and matches seamlessly the Long, Mid & Short term,
                    Immediate and Bu siness class Inventory, as well as cancelled bookings and difficult to move
                    inventory, with the buying habits of travel shoppers. In concert with a proprietary system of tools
                    where owners can create pro –active inventory in a portable, track-able and searchable structure
                    that enhances and promotes instant buying decisions, whether on our own site and/or on any of our
                    global distribution partners.
                  </p>
                </ion-col>
                <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12">
                  <h2 style="margin: 0px; background-color: #f5f6f9; font-family:cairo; color: rgb(19, 20, 20);">
                    TRAVEL2UBE
                  </h2>
                </ion-col>
                <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12">
                  <p style="margin-bottom: 10px;margin-top:0px; background-color: #f5f6f9;">
                    This last and behemoth search engine links Rentastico with a "Travelers Social Network" that will
                    facilitate discussions, reward our travelers, create channels and platforms, that will instill trust
                    and customer loyalty, where 68% of all travelers will record their experience with user generated
                    content, trumping branded content every time...one that meritoriously cross promotes Rentastico
                    rewarding both the owners and our global travelers.<b></b> We deliver a better user experience…our
                    proprietary travel tools enable travelers to research, plan, secure, book, connect and document
                    their trip under one roof, one that in turn dramatically increases customer retention and traffic to
                    Rentastico, and turns lookers into buyers.ppers. In concert with a proprietary system of tools where
                    owners can create pro –active inventory in a portable, track-able and searchable structure that
                    enhances and promotes instant buying decisions, whether on our own site and/or on any of our global
                    distribution partners.
                  </p>
                </ion-col>
                <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12">
                  <h2 style="margin: 0px; background-color: #f5f6f9;font-family:cairo;  color: rgb(19, 20, 20);">
                    TRAVEL-TRACK
                  </h2>
                </ion-col>
                <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12">
                  <p style="margin-bottom: 10px;margin-top:0px; background-color: #f5f6f9;">
                    Offering travelers global tracking and sharing opportunities within the Rentastico Travel Community.
                    This will include sponsorship of travelers, live GPS trips & planned route sharing, Message centers
                    to comment on a location & Pin drops so you don’t get lost as well as safety track features like
                    "Last been" and "Emergency button
                  </p>
                </ion-col>
                <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12">
                  <h2 style="margin: 0px; background-color: #f5f6f9; font-family:cairo; color: rgb(19, 20, 20);">
                    RAVS…Rental Active Voice Search "A world’s first"
                  </h2>
                </ion-col>
                <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12">
                  <p style="margin-bottom: 10px;margin-top:0px; background-color: #f5f6f9;">
                    A voice activated Mobile Application specifically designed to provide direct access to rental
                    inventory with voice commands! A proprietary application with Dedicated Rental Terminology.s
                  </p>
                </ion-col>
                <ion-col>
                  DISCOVER /SHARE
                </ion-col>
                <ion-col>
                  INFORM
                </ion-col>
                <ion-col>
                  BOOK/SEARCH
                </ion-col>
                <ion-col>
                  CONNECT
                </ion-col>
                <ion-col>
                  PLAN/TRACK
                </ion-col>
                <ion-col>
                  ARRIVE/SAVE
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-img src="http://rentastico.com/assets/img/features/icon/travel2ube.png"></ion-img>
                  <ion-img src="http://rentastico.com/assets/img/features/icon/go-news.png"></ion-img>
                </ion-col>
                <ion-col>
                  <ion-img src="http://rentastico.com/assets/img/features/icon/tripster.png"></ion-img>
                </ion-col>
                <ion-col>
                  <ion-img src="http://rentastico.com/assets/img/features/icon/rentastico.png"></ion-img>
                  <ion-img src="http://rentastico.com/assets/img/features/icon/flight-track.png"></ion-img>
                </ion-col>
                <ion-col>
                  <ion-img src="http://rentastico.com/assets/img/features/icon/flight.png"></ion-img>
                </ion-col>
                <ion-col>
                  <ion-img src="http://rentastico.com/assets/img/features/icon/tripcierge.png"></ion-img>
                </ion-col>
                <ion-col>
                  <ion-img src="http://rentastico.com/assets/img/features/icon/largepocket.png"></ion-img>
                  <ion-img src="http://rentastico.com/assets/img/features/icon/travel-track.png"></ion-img>
                </ion-col>
                <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12">
                  <p style="margin-bottom: 10px;margin-top:0px; background-color: #f5f6f9;">
                    <b>RENTASTICO & RENTASTICOWORKS,</b> together with our additional intellectual properties form a
                    vastly improved & competitive advantage that will attract Rental Owners wanting higher returns at a
                    lower cost, but at the same time it will deliver a superior user experience with added value that
                    will address a global network of over 300 million online travel purchasers.
                  </p>
                </ion-col>
                <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12">
                  <h2 style="margin: 0px; background-color: #f5f6f9; font-family:cairo; color: rgb(19, 20, 20);">
                    Conclusion
                  </h2>
                </ion-col>
                <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12">
                  <p style="margin-bottom: 10px;margin-top:0px;  background-color: #f5f6f9; padding: 15px;">
                    Rentastico and co will launch a highly competitive platform to 500,000 property owners, supplying 26
                    million<br />
                    choices to a market of over 300 million travelers.
                  </p>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-header>
        </ion-col>
        <ion-col size="4" size-sm="12" size-xs="12" size-md="4" size-lg="4">
          <ion-row id="aa">
            <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12">
              <ion-text id="text"> GLOBAL VACATIONING MADE BETTER AN INDUSTRY DISRUPTIVE PLATFORM</ion-text>
            </ion-col>
          </ion-row>
          <ion-img id="img" src="http://rentastico.com/assets/img/sites/rentastico-2.jpg"></ion-img>
          <ion-row id="ab">
            <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12">
              <ion-text id="ind">The Industry</ion-text>
            </ion-col>
          </ion-row>
          <ion-row id="ac">
            <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12">
              <ion-text id="pad"
                >The industry currently is estimated at $100 billion, with the U.S. accounting for just over a quarter
                of that and research predicts the global vacation rental market will close in on $170 billion by 2019*.
                Meanwhile, finance industry experts calculated that in the first four months of 2016 alone, vacation
                rentals startups attracted nearly $100 million in venture capital funding, concentrated in the U.S. and
                Europe. *SKIFT June 2016</ion-text
              >
            </ion-col> </ion-row
          ><br />
          <ion-row id="ae">
            <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12">
              <ion-text id="hey">INVESTMENT HIGHLIGHTS</ion-text>
            </ion-col>
          </ion-row>
          <ion-row id="ad">
            <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12">
              <ion-text
                >Finalizing 3 Years of research & development of multiple intellectual properties and verticals. Revenue
                producing, beta launch projected for early 2017 for core platforms. Revenue modelling projects profits
                of 100+ million by year 2 after full launch Years ahead of the emerging competition with an existing
                rental database of over 500,000 vacation rentals.</ion-text
              >
            </ion-col>
            <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12">
              <ion-text
                >Millennial's are the fastest growing segment & require a social network 20 million shares outstanding
                with no debt. No industry legal issues by offering only vacation rental properties. Seeking seed
                financing of $300,000 USD @ 0.25 share for final development, design and legal costs.</ion-text
              >
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
