#body {
  background-color: whitesmoke;
  font-family: cairo;
}
#hey {
  color: rgb(12, 110, 110);
  font-size: 23px;
}
#ae {
  background-color: rgb(199, 199, 199);
  margin-bottom: 8px;
  margin-left: 5px;
  margin-right: 5px;
}
#ind {
  color: rgb(20, 67, 73);
  padding: 30px;
  font-size: 25px;
}
#text {
  color: white;
}
#img {
  margin-left: 3px;
  margin-right: 3px;
}
#aa {
  background-color: rgb(71, 69, 69);
  margin-left: 3px;
  margin-right: 3px;
  //  height:50px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 4px;
}
#ab {
  background-color: white;
  margin-bottom: 7px;
  margin-left: 3px;
  margin-right: 3px;
}
#pad {
  padding: 30px;
  margin-left: 3px;
  margin-right: 3px;
}
#ac {
  background-color: rgb(235, 235, 235);
  margin-left: 3px;
  margin-right: 3px;
}
#ad {
  background-color: rgb(235, 235, 235);
  margin-left: 3px;
  margin-right: 3px;
}
