.text {
  font-size: 30px;
  margin-top: 70px;
  display: block;
}
.text1 {
  font-size: 18px;
  margin-top: 15px;
  display: block;
  color: gray;
  margin-bottom: 10px;
}
.text2 {
  margin-top: 15px;
  background-color: red($color: #000000);
  display: block;
}
.text3 {
  display: block;
}
