<ion-content>
    <div class="FormBody"  *ngIf="!signupBtn">
      <ion-row>
        <ion-col size="12" style="text-align: center;">
          <ion-text style="font-size: 25px;color: black;padding: 10px; font-family: Source Sans Pro, Helvetica Neue, Helvetica, Arial, sans-serif;">
            <b> Reset Your Password</b>
          </ion-text>
        </ion-col>
      </ion-row>
    <form style="border-bottom: 1px solid grey;" novalidate (ngSubmit)="signup()" [formGroup]="signupform">
  ​
         
       
  ​

        <!-- password -->
        <ion-row>
          <ion-col offset="1" size='10' csize-xs="10" size-sm="10" size-md="10" size-lg="10" size-xl="10">
            <ion-item style="border: 1px solid grey;">
              <ion-input #password placeholder="New Password" [type]="passwordType" style="height: 20px;" [(ngModel)]="userData.password" formControlName="password" [class.error1]="!signupform.controls.password.valid && signupform.controls.password.dirty"></ion-input>
              <ion-icon item-end [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>
            </ion-item>
            <ion-item no-lines *ngIf="( signupform.get('password').hasError('minlength') || signupform.get('password').hasError('maxlength') ||signupform.get('password').hasError('required') ) && signupform.get('password').touched">
              <div class="error" *ngIf="signupform.get('password').hasError('required') && signupform.get('password').touched">
                Please input your password
              </div>
              <div class="error" *ngIf="signupform.get('password').hasError('minlength') && signupform.get('password').touched">
                Minimum 6 characters
              </div>
              <div class="error" *ngIf="signupform.get('password').hasError('maxlength') && signupform.get('password').touched">
                Maximum 12 characters
              </div>
            </ion-item>
          </ion-col>
        </ion-row>
        <!-- retype password -->
        <ion-row> 
          <ion-col offset="1" size='10' csize-xs="10" size-sm="10" size-md="10" size-lg="10" size-xl="10">
            <ion-item style="border: 1px solid grey;">
              <ion-input #retypePassword placeholder="Confirmation Password " type="Password" style="height: 20px; " [(ngModel)]="userData.retypePassword" formControlName="retypePassword" [class.error1]="!signupform.controls.retypePassword.valid && signupform.controls.retypePassword.dirty && userData.password !== userData.retypePassword && signupform.get('retypePassword').touched"></ion-input>
            </ion-item>
          
              <ion-item *ngIf="userData.password !== userData.retypePassword && signupform.get('retypePassword').touched">
              <div class="error" *ngIf="userData.password !== userData.retypePassword && signupform.get('retypePassword').touched">
                Passwords Must Match
              </div>
              
      
            </ion-item>
      
          </ion-col>
 
        </ion-row> 
      <ion-row>
          <ion-col offset="1" size="10">
              <section class="full-width">
                  <ion-button (click)="signupBtn=!signupBtn" [disabled]="signupform.invalid || userData.password !== userData.retypePassword" expand="full" shape="round" color="primary">Update password</ion-button>
                </section>
          </ion-col>
      </ion-row>
   </form>
   </div>
   <!-- dhdishvhdse -->
   <div>
    ​<div *ngIf="signupBtn" class="verifyMail">
      <ion-row>
      <ion-col size="12" style="text-align: center; border-bottom: 1px black double;">
        <ion-icon style="color: green;font-size: 15px" name="checkmark-circle"></ion-icon>
        <ion-text
          style="font-size: 25px;color: black;padding: 10px; font-family: Source Sans Pro, Helvetica Neue;">
          successfully Updated your password</ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" style="text-align: center;">
        <ion-text>Click here to go to <a routerLink="/login">Login Page.</a></ion-text>
        </ion-col>
    </ion-row>
    
    </div>
   </div>
  ​
  </ion-content>