.text {
  font-size: 30px;
  margin-top: 70px;
  display: block;
}
.text1 {
  font-size: 18px;
  margin-top: 15px;
  display: block;
  // color: #23b7e5;
  margin-bottom: 10px;
}
.row {
  margin-top: 115px;

  display: block;
}
.text3 {
  display: block;
}
