<ion-content>
  <div class="FormBody" *ngIf="p1">
    <ion-row>
      <ion-col size="12" style="text-align: center;">
        <ion-text style="font-size: 25px;color: black;padding: 10px; font-family: Source Sans Pro, Helvetica Neue, Helvetica, Arial, sans-serif;">
          <b> Forget Password </b>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" style="text-align: center;">
        <ion-text style="font-size: 15px;color: black;padding: 10px;">
          <b> Please Enter Your Email Which You Used For Signup </b>
        </ion-text>
      </ion-col>
    </ion-row>
    <br>
        <form  style="border-bottom: 1px solid grey;"novalidate (ngSubmit)="signup()" [formGroup]="signupform" >
       
          <ion-row>
            <ion-col offset="1" size='10' csize-xs="10" size-sm="10" size-md="10" size-lg="10" size-xl="10">
                
              <ion-item style="border: 1px solid grey;">
                <ion-input placeholder="Email" required type="email" style="height: 20px;" [(ngModel)]="userData.email" formControlName="email" [class.error1]="!signupform.controls.email.valid && signupform.controls.email.dirty"></ion-input>
              </ion-item>
              <ion-item no-lines *ngIf="( signupform.get('email').hasError('minlength') || signupform.get('email').hasError('pattern') ||signupform.get('email').hasError('required') ) && signupform.get('email').touched">
                <div class="error" *ngIf="signupform.get('email').hasError('required') && signupform.get('email').touched">
                  Please input your email
                </div>
                <div class="error" *ngIf="signupform.get('email').hasError('pattern') && signupform.get('email').touched">
                  Email address invalid
                </div>
              </ion-item>
            </ion-col>
          </ion-row>
<br/>
        <ion-row>
            <ion-col offset="1" size="10">
              <section class="full-width">
                <ion-button
                (click)="(signupfunc)"
                [disabled]="signupform.invalid"
                  expand="full"
                  shape="round"
                  color="tertiary"
                  >reset my Password</ion-button
                >
              </section>
            </ion-col>
          </ion-row>
          <br/>
         
         
          <ion-row>
            <ion-col offset="1" size="10">
              <section class="full-width">
                <ion-button
              (click)="p1=false"
                  expand="full"
                  shape="round"
                  color="primary"
                  >login</ion-button>
              </section>
            </ion-col>
          </ion-row>
        </form>
        
    </div>
</ion-content>